[Desktop Entry]
Name=MTS LinkChats (Launcher)
Exec=mts-linkchats-launcher %U
Terminal=false
Type=Application
Icon=mts-linkchats-launcher
StartupWMClass=LinkChats
Encoding=UTF-8
StartupNotify=true
Comment=LinkChats - corporate messenger
MimeType=x-scheme-handler/mtslinkchats
Categories=Office;Chat
